body {
    font-family: 'Roboto', sans-serif;
    background: black;
    color: white;
    }

hr {
    border: none;
    border-bottom: 1px solid white;
    }

.gallery_big_image {
    max-width: 95%;
    max-height: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    border: 1px solid gray;
   }

.gallery_control_left {
    position: absolute;
    top: 2em;
    left: 2em;
    border: 1px solid gray;
    color: white;
    width: 4em;
    background: black;
    text-align: center;
    }

.gallery_control_right {
    position: absolute;
    top: 2em;
    right: 2em;
    border: 1px solid gray;
    color: white;
    width: 4em;
    background: black;
    text-align: center;
    }

.gallery_control_center {
    position: absolute;
    top: 2em;
    left: 50%;
    margin-left: -2em;
    border: 1px solid gray;
    width: 4em;
    color: white;
    background: black;
    text-align: center;
    }

.gallery_control {
    padding: 1em;
    opacity: 0;
    transition: .5s ease-in-out;
    }

.gallery_control:hover {
    opacity: 0.9;
    
    }

.gallery_control a {
    color: white;
    text-decoration: none;
    }

.gallery_control a:hover {
    color: orange;
    }

.image_info {
    position: absolute;
    right: 2em;
    bottom: 2em;
    border: 1px solid gray;
    color: white;
    background: black;
    }

.image_name {
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    }

.image_description {
    font-size: 0.6em;
    text-align: justify;
    }
.image_take_date {
    text-align: center;
    font-size: 0.7em;
    font-weight: bold;
    }

.image_place {
    text-align: center;
    font-size: 0.7em;
    font-weight: bold;
    }

.image_info_left {
    max-width: 20em;
    float:left;
    border-right: 1px solid white;
    margin-right: 1em;
    padding-right: 1em;
    }
.image_info_right {
    max-width: 15em;
    float:right;
    }
.image_info_meta {
    font-size: 0.6em;
    }

.image_info_clear {
    clear: both;
}
.gallery_overview {
    border: 1px solid gray;
    text-align: center;
    width: 60%;
    }
.preview_link {
    position: relative;
    }
.preview_image {
    display: inline;
    border: 1px solid gray;
    }
