body {
    font-family: 'Alegreya Sans', sans-serif;    
    background: black;
    color: white;
    }

.gallery_big_image {
    max-width: 95%;
    max-height: 95%;
    display: block;
    margin: auto;
    }

.gallery_control_left {
    border: 1px solid gray;
    position: absolute;
    top: 5%;
    left: 10%;
    color: white;
    background: black;
    }

.gallery_control_right {
    border: 1px solid gray;
    position: absolute;
    top: 5%;
    right: 10%;
    color: white;
    background: black;
    }

.gallery_control_center {
    border: 1px solid gray;
    position: absolute;
    top: 5%;
    left: 45%;
    right: 45%;
    width: auto;
    color: white;
    background: black;
    text-align: center;
    }

.gallery_control {
    padding: 2em;
    opacity: 0.2;
    transition: .5s ease-in-out;
    }

.gallery_control:hover {
    opacity: 0.5;
    
    }

.gallery_control a {
    color: white;
    text-decoration: none;
    }

.gallery_control a:hover {
    color: orange;
    }

.image_info {
    max-width: 200px;
    border: 1px solid gray;
    position: absolute;
    bottom: 5%;
    right: 10%;
    color: white;
    background: black;
    }

.image_name {
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    }

.image_description {
    font-size: 0.7em;
    text-align: justify;
    }
.image_take_date {
    text-align: center;
    font-size: 0.8em;
    font-weight: bold;
    }

.image_place {
    text-align: center;
    font-size: 0.8em;
    font-weight: bold;
    }
